<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291090906808-gsm4ffslu8cq49om9b414ugss5caj3b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291090906808-gsm4ffslu8cq49om9b414ugss5caj3b6</string>
	<key>API_KEY</key>
	<string>AIzaSyAIzWl14wKEqWAmOeWzodoZF_tsaagiL3I</string>
	<key>GCM_SENDER_ID</key>
	<string>291090906808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.LeSportif</string>
	<key>PROJECT_ID</key>
	<string>lesportif-40abb</string>
	<key>STORAGE_BUCKET</key>
	<string>lesportif-40abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291090906808:ios:719825ee476cd9b82b7e4d</string>
	<key>DATABASE_URL</key>
	<string>https://lesportif-40abb-default-rtdb.firebaseio.com</string>
</dict>
</plist>